<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsjr.net">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <!--7.0以上调用相机-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.utils.gyymz.exception.ExceptionDetailActivity" />
        <activity android:name="com.utils.gyymz.exception.ExceptionDialogActivity" />
    </application>
</manifest>
